body {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    
    
    
}

.head {
    display: flex;    
    background-color: #1F2937;
    
    justify-content: space-around;
    
}

h1 {
    display: flex;
    color: #f9faf8;
    font-size: 24px;
}

ul {
    display: flex;
    font-size: 18px;
    gap: 16px;
    list-style-type: none;
    
}
/*
li {
} 
*/
li > a {
    text-decoration: none;
    color: #e5e7eb;
}

.top {
    display: flex;
    background-color: #1F2937;
    height: 250px;
    justify-content: space-around;
    align-items: center;
    
}
.top-left {
    display: flex;
    width: 400px;
    flex-flow: column wrap;
    padding-left: 64px;
}

.bigger {
    color: #f9faf8;
    font-size: 48px;
    font-weight: 900;
    
}

.smaller {
    color: #f9faf8;
    font-size: 18px;
}

button {
    display: flex;
    background-color: #3882f6;
    color:#f9faf8;
    padding: 6px 24px;
    cursor: pointer;
    border-radius: 8px;
    border: 1px solid royalblue;
    font-weight: 700;
    margin-right: auto;
    
}

.img {
    background-color: grey;
    height: 175px;
    width: 400px;
    text-align: center;
    line-height: 175px;
    color: #f9faf8

}

.middle {
    display: flex;
    flex-direction: column;
}
h2 {
    color: #1f2937;
    font-size: 36px;
    font-weight: 900;
}

.container {
    display: flex;
    flex-direction: row;
}

.images {
    display: flex;
    flex-direction: column;
}

.image {
    
    border: 2px solid #3882f6;
    height: 100px;
    width: 100px;
    border-radius: 8px;
}

.text {

}

.quotes {
    display: flex;
    background-color: #e5e7eb
}

.quote {
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
}

.quote2 {

}

.cta {
    display: flex;
}

.upper {

}

.lower {

}

footer {
    display: flex;
    background-color: #1f2937;
    align-items: center;
    color: #f9faf8;
}
